<mat-toolbar>
    <span>Search for Purchases</span>        
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="search()">
    <mat-form-field>
        <input matInput placeholder="Driver License" formControlName="driverLicense">
    </mat-form-field>    

    <mat-form-field>
        <input matInput placeholder="Full name" formControlName="fullName">
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Date" [max]="maximumDate" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>                
    </mat-form-field>
    
    <!-- Button Sarch -->    
    <button mat-fab color="primary" class="btn-toolbar" type="submit">
        <mat-icon>search</mat-icon>
    </button>
</form>


    
<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="driverLicense">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Driver License </th>
    <td mat-cell *matCellDef="let purchase"> {{purchase.person.driverLicense}} </td>
  </ng-container>
  <ng-container matColumnDef="fullName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name </th>
    <td mat-cell *matCellDef="let purchase"> {{purchase.person.firstName }} {{purchase.person.lastName}} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let purchase"> {{purchase.date | date:'MM-dd-yyyy HH:mm:ss'}} </td>
  </ng-container>
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
    <td mat-cell *matCellDef="let purchase"> {{purchase.amount | currency}} 
      <button mat-icon-button class="btn-toolbar">
        <mat-icon>{{purchase == expandedElement?'expand_less':'expand_more'}}</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let purchase" [attr.colspan]="displayedColumns.length">
      <div class="example-element-detail"
           [@detailExpand]="purchase == expandedElement ? 'expanded' : 'collapsed'">
        <div>
          <mat-toolbar color="primary">
              <mat-toolbar-row>
                <span>#. Product</span>
                <span class="spacer"></span>
                <span>Quantity</span>
                <span class="spacer"></span>
                <span>Price</span>
                <span class="spacer"></span>
                <span>Subtotal</span>
                <span class="spacer"></span>
              </mat-toolbar-row>
          </mat-toolbar>
        </div>
        <div>
          <mat-toolbar>
              <mat-toolbar-row *ngFor="let detail of purchase.purchaseDetails; let i = index;">
                <span>{{i+1}}. {{detail.product.name}} ({{detail.product.brand}})</span>
                <span class="spacer"></span>
                <span>{{detail.quantity}}</span>
                <span class="spacer"></span>
                <span>{{detail.amount | currency}}</span>
                <span class="spacer"></span>
                <span>{{detail.amount * detail.quantity | currency}}</span>              
                <span class="spacer"></span>              
              </mat-toolbar-row>
          </mat-toolbar>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let purchase; columns: displayedColumns;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === purchase"
      (click)="expandedElement = expandedElement === purchase ? null : purchase">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>