<div class="container" *ngIf="route.children.length === 0">
    <mat-form-field>
        <input matInput type="email" placeholder="Your email" required [(ngModel)]="email">
    </mat-form-field>

    <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>

    <br />

    <button mat-raised-button color="primary" (click)="send()" [disabled]="!email">Send email</button>

    <mat-toolbar *ngIf="message">{{message}}</mat-toolbar>
    <mat-toolbar *ngIf="error">{{error}}</mat-toolbar>
</div>

<div>
    <router-outlet *ngIf="route.children.length !== 0"></router-outlet>
</div>
