.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {    
    flex: 1;
}

.spacer {
    flex: 1 1 auto;
}

mat-sidenav {
    width: 200px
}

.app-logo {
    margin-left: 20px;    
}

.cursor-pointer {
    cursor: pointer;
}