<router-outlet></router-outlet>

<div [hidden]="route.children.length !== 0">
    <mat-toolbar>
        <span >Persons</span>
        <span class="spacer"></span>
        <!-- Button New -->    
        <button mat-fab color="accent" class="btn-toolbar" [routerLink]="['new']">
            <mat-icon>add</mat-icon>
        </button>    
    </mat-toolbar>

    <div class="container mat-elevation-z8">
        <div class="header">
            <!-- Filter -->
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
        </div>
        <!-- Table -->
        <mat-table [dataSource]="dataSource" matSort>

            <!-- ID Person Column -->
            <ng-container matColumnDef="idPerson">
                <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                <mat-cell *matCellDef="let person"> {{person.idPerson}} </mat-cell>
            </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                <mat-cell *matCellDef="let person"> {{person.firstName}} </mat-cell>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let person"> {{person.lastName}} </mat-cell>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let person">
                    <button mat-mini-fab color="primary" class="btn-table" [routerLink]="['edition', person.idPerson]">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" class="btn-table" (click)="delete(person.idPerson)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <!-- Paginator -->
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" [length]="recordsCounter" (page)="showMore($event)"></mat-paginator>
    </div>    
</div> 